
/*
 * CSS For the JS Ship Defense Game.
 * Author: Jacqueline Button
 */

/* HTML Tag Styles*/
body {
    background-color: #2C3539;
    font-family: Courier New, Courier, monospace;
}
header {
    height: 250px;
}

/* Header */
.header-container {
    border: 4px solid #FF8C2F;
    color: #FF8C2F;
    background-color: #000;
    height: 150px;
    text-align: center;
}
.header-title {
    font-weight: bolder;
}

/* Body */
.main-content {
    width: 80%;
    height: 800px;
}


#fire-control-radar-display {
    position: relative;
    top: 0px;
    margin-top: 0px;
    /*width: 700px;
    min-width: 700px;
    max-width: 700px;*/
    width: 500px;
    height: 500px;
    min-height: 500px;
    max-height: 500px;
    background-color: #000;
    border: 4px solid #FF8C2F;
    /*border: 4px solid #30BE68;*/
    float:left;
    margin-left: 0px;
}


/* Radar Display Section */

.radar-range-circle {
    position: absolute;
    
    border: 1px solid #FFF;
    border-radius: 50%;
    z-index: 0;
}

/* Target information */
.target-container {
    position: absolute;
    width: 40px;
    height: 30px;
    z-index: 1;
}

.target-icon {
    border: 1px dashed #30BE68;
    height: 10px;
    width: 10px;
}
.target-id {
    color: #FF8C2F;
}

/* Ship Data */
#player-ship {
    position: absolute;
    left: 225px;
    top: 240px;
    background-color: #FF8C2F;
    border: 1px solid #30BE68;
    width: 50px;
    height: 20px;
    border-radius: 10px;
}


/* Tracking Table Section */
#tracking-table-container {
    background-color: #000;
    border: 4px solid #FF8C2F;
    text-align: center;
    color: #FF8C2F;
    max-height: 500px;
    max-width: 300px;
    height: 500px;
    width: 300px;
    min-height: 500px;
    min-width: 300px;
    margin-left: 500px;
}

#game-over-modal {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;

    border: 4px solid #30BE68;
    color: #FFF;
    background-color: #F00;
    font-weight: boldest;
    font-size: 1.5em;
    text-align: center;
}

#win-modal {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;

    
    border: 4px solid #30BE68;
    color: #FFF;
    background-color: #00F;
    font-weight: boldest;
    font-size: 1.5em;
    text-align: center;
}
#tracking-table-header {
    font-size: 16pt;

}

#tracking-table {
    margin-left: auto;
    margin-right: auto;
}

.tracking-table-header-row {
    color: #FFF;
    font-weight: bolder;
}
.tracking-table-header-cell {
  border:   1px solid #30BE68;
}

.tracking-table-row{
    color: #FFF;
    
}
.tracking-table-target-name {
    border-top: 1px solid #30BE68;
    border-right: 1px solid #30BE68;
}

.tracking-table-target-x {
    border-top: 1px solid #30BE68;
    border-right: 1px solid #30BE68;
    width: 40px;
}


.tracking-table-target-y {
    border-top: 1px solid #30BE68;
    border-right: 1px solid #30BE68;
    width: 40px;
}

.tracking-table-target-dist {
    border-top: 1px solid #30BE68;
    width: 60px;
}


#start-button {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;

    font-weight: boldest;
    font-size: 1.5em;
}

.start-button-enabled {
    border: solid 2px #30BE68;
    color: #FF8C2F;
}

.start-button-disabled {
    color: #FFF;
    background-color: #F00;
}

/* mockup data */
/*
#D001 {
    left: 10px;
    top: 30px;
}

#D002 {
    left: 100px;
    top: 300px;
}*/